vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Aug 2013 21:32:31 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|web4u\\mtigue
vti_modifiedby:SR|web4u\\mtigue
vti_timecreated:TR|07 Aug 2013 03:46:46 -0000
vti_backlinkinfo:VX|24/main.html
vti_syncofs_68.178.246.6\:21/pdxvocations:TW|08 Aug 2013 19:02:28 -0000
vti_syncwith_68.178.246.6\:21/pdxvocations:TX|07 Aug 2013 03:46:46 -0000
vti_nexttolasttimemodified:TW|09 Aug 2013 21:31:27 -0000
vti_cacheddtm:TX|09 Aug 2013 21:32:31 -0000
vti_filesize:IR|42855
vti_cachedlinkinfo:VX|S|images/icons-18-white.png S|images/icons-18-black.png S|images/icons-36-white.png S|images/icons-36-black.png S|images/ajax-loader.gif
vti_cachedsvcrellinks:VX|FSUS|24/images/icons-18-white.png FSUS|24/images/icons-18-black.png FSUS|24/images/icons-36-white.png FSUS|24/images/icons-36-black.png FSUS|24/images/ajax-loader.gif
