vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Aug 2013 20:39:25 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|web4u\\mtigue
vti_modifiedby:SR|web4u\\mtigue
vti_timecreated:TR|08 Aug 2013 17:53:14 -0000
vti_backlinkinfo:VX|24/main.html
vti_syncofs_68.178.246.6\:21/pdxvocations:TW|09 Aug 2013 20:39:48 -0000
vti_syncwith_68.178.246.6\:21/pdxvocations:TX|09 Aug 2013 20:39:25 -0000
vti_nexttolasttimemodified:TW|09 Aug 2013 20:33:57 -0000
vti_cacheddtm:TX|09 Aug 2013 20:39:25 -0000
vti_filesize:IR|7181
vti_cachedlinkinfo:VX|S|../images/menuIconsSprite.png S|img2/stripe.jpg S|img2/mass2.jpg S|img2/crest-30.png S|img2/logo-icon.png S|img2/vm.jpg
vti_cachedsvcrellinks:VX|NSUS|images/menuIconsSprite.png FSUS|24/img2/stripe.jpg FSUS|24/img2/mass2.jpg NSUS|24/img2/crest-30.png FSUS|24/img2/logo-icon.png NSUS|24/img2/vm.jpg
